<p>Will show you how many times your word appears in a given phrase.</p>
<form action='/result'>
  <div class="form-group">
    <label for="word">Please enter your word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="phrase">Please enter your phrase:</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check</button>
</form>
