<!DOCTYPE html>
<html>
<head>
  <title>Word Freak-uency</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Word Freak-uency</h1>
    <%= yield %>
  </div>
</body>
</html>
